In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
import os
#importing library
from sklearn.linear_model import LogisticRegression

# Import label encoder
#For converting object dtypes to int

from sklearn import preprocessing
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

In [2]:
# Reading the Data
Bdata = pd.read_csv("Bank Churners.csv")

In [3]:
Bdata.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [4]:
Bdata['Attrition_Flag'].value_counts()

Existing Customer    8500
Attrited Customer    1627
Name: Attrition_Flag, dtype: int64

In [5]:
print("Data is highly Biased")

Data is highly Biased

In [6]:
#Feature-Enhineering Part --- Converting string data to int/float

In [7]:
#Data Inspection

In [8]:
Bdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [9]:
#renaming column names
Bdata.rename(columns = {'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1':'N_B_C_M1'}, inplace = True)

In [10]:
#renaming column names
Bdata.rename(columns = {'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2':'N_B_C_M2'}, inplace = True)

In [11]:
Bdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
 21  N_B_C_M1                  10127 non-null  float64
 22  N_B_C_M2                  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

#New DataFrame without column "Attrition_Flag" & "CLIENTNUM"

In [12]:
df = Bdata.drop(['CLIENTNUM','Attrition_Flag'], axis = 1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_Age              10127 non-null  int64
 1   Gender                    10127 non-null  object
 2   Dependent_count           10127 non-null  int64
 3   Education_Level           10127 non-null  object
 4   Marital_Status            10127 non-null  object
 5   Income_Category           10127 non-null  object
 6   Card_Category             10127 non-null  object
 7   Months_on_book            10127 non-null  int64
 8   Total_Relationship_Count  10127 non-null  int64
 9   Months_Inactive_12_mon    10127 non-null  int64
 10  Contacts_Count_12_mon     10127 non-null  int64
 11  Credit_Limit              10127 non-null  float64
 12  Total_Revolving_Bal       10127 non-null  int64
 13  Avg_Open_To_Buy           10127 non-null  float64
 14  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 15  Total_Trans_Amt           10127 non-null  int64
 16  Total_Trans_Ct            10127 non-null  int64
 17  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 18  Avg_Utilization_Ratio     10127 non-null  float64
 19  N_B_C_M1                  10127 non-null  float64
 20  N_B_C_M2                  10127 non-null  float64
dtypes: float64(7), int64(9), object(5)
memory usage: 1.6+ MB

In [14]:
y=Bdata['Attrition_Flag']

In [15]:
y.head()

0    Existing Customer
1    Existing Customer
2    Existing Customer
3    Existing Customer
4    Existing Customer
Name: Attrition_Flag, dtype: object

In [16]:
y.value_counts()

Existing Customer    8500
Attrited Customer    1627
Name: Attrition_Flag, dtype: int64

In [17]:
#Fortunately  nno null Values

In [18]:
#Check Cardinality and convert Dtypes of Respective Columns

In [19]:
#Attrition_Flag

In [20]:
#Existing Customer    1
#Attrited Customer    0
y = label_encoder.fit_transform(y)

In [21]:
y1 = pd.DataFrame(y)
y1.value_counts()

1    8500
0    1627
dtype: int64

In [22]:
#Gender
#F    0
#M    1
df['Gender']= label_encoder.fit_transform(df['Gender'])

In [23]:
df['Gender'].value_counts()

0    5358
1    4769
Name: Gender, dtype: int64

In [24]:
# 5   Education_Level           10127 non-null  object 
# 6   Marital_Status            10127 non-null  object 
# 7   Income_Category           10127 non-null  object 
# 8   Card_Category             10127 non-null  object

In [25]:
#College          1013       0    1013
#Doctorate         451       1     451
#Graduate         3128       2    3128
#High School      2013       3    2013
#Post-Graduate     516       4     516
#Uneducated       1487       5    1487
#Unknown          1519       6    1519
df['Education_Level']= label_encoder.fit_transform(df['Education_Level'])

In [26]:
#Married     4687    1
#Single      3943    2
#Unknown      749    3
#Divorced     748    0
df['Marital_Status']= label_encoder.fit_transform(df['Marital_Status'])

In [27]:
#4    3561
#1    1790
#3    1535
#2    1402
#5    1112
#0     727
# serial in Alphabeticc Order
df['Income_Category']= label_encoder.fit_transform(df['Income_Category'])

In [28]:
#0    9436
#3     555
#1     116
#2      20
# serial in Alphabeticc Order
df['Card_Category']= label_encoder.fit_transform(df['Card_Category'])

In [29]:
# oneHot Encoding Would work 
# in easy Words - Create Dummies
# onehot didnot work
# instead made data bulky

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_Age              10127 non-null  int64
 1   Gender                    10127 non-null  int32
 2   Dependent_count           10127 non-null  int64
 3   Education_Level           10127 non-null  int32
 4   Marital_Status            10127 non-null  int32
 5   Income_Category           10127 non-null  int32
 6   Card_Category             10127 non-null  int32
 7   Months_on_book            10127 non-null  int64
 8   Total_Relationship_Count  10127 non-null  int64
 9   Months_Inactive_12_mon    10127 non-null  int64
 10  Contacts_Count_12_mon     10127 non-null  int64
 11  Credit_Limit              10127 non-null  float64
 12  Total_Revolving_Bal       10127 non-null  int64
 13  Avg_Open_To_Buy           10127 non-null  float64
 14  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 15  Total_Trans_Amt           10127 non-null  int64
 16  Total_Trans_Ct            10127 non-null  int64
 17  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 18  Avg_Utilization_Ratio     10127 non-null  float64
 19  N_B_C_M1                  10127 non-null  float64
 20  N_B_C_M2                  10127 non-null  float64
dtypes: float64(7), int32(5), int64(9)
memory usage: 1.4 MB

In [31]:
#Train - Test Split

In [32]:
X = df
# used "y1 dataframe" as compiler was showing error for "array y"  
#importing module
from sklearn.model_selection import train_test_split

# using the train test split function
X_train, X_test, y_train, y_test = train_test_split(X,y1,random_state=104,test_size=0.25)

In [33]:
X

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,N_B_C_M1,N_B_C_M2
0,45,1,3,3,1,2,0,39,5,1,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,49,0,5,2,2,4,0,44,6,1,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,51,1,3,2,1,3,0,36,4,1,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,40,0,4,3,3,4,0,34,3,4,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,40,1,3,5,1,2,0,21,5,1,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,50,1,2,2,2,1,0,40,3,2,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,41,1,2,6,0,1,0,25,4,2,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,44,0,1,3,1,4,0,36,5,3,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,30,1,2,2,3,1,0,36,4,3,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,43,0,2,2,1,4,3,25,6,2,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

##Balance the data

In [34]:
y_train.value_counts()

1    6385
0    1210
dtype: int64

In [35]:
y_test.value_counts()

1    2115
0     417
dtype: int64

#balance the Highly Imbalanced Data

In [36]:
#importing Needed library
from imblearn.over_sampling import SMOTE
#assigning 
sm = SMOTE(random_state = 2)
# fit_sample didnot work ----- so used fit_resample
# ravel() was also giving error so removed that
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

In [37]:
y_train_res1 = pd.DataFrame(y_train_res)

y_train_res1.value_counts()

0    6385
1    6385
dtype: int64

In [38]:
df.shape # of original data

(10127, 21)

In [39]:
X_train.shape # before balancing

(7595, 21)

In [40]:
X_train_res.shape # after balancing

(12770, 21)

In [41]:
y_train_res.shape  # after balancing

(12770, 1)

In [44]:
import warnings
warnings.filterwarnings('ignore')

In [46]:
from sklearn.metrics import classification_report

#Training the model
lr1 = LogisticRegression()
lr1.fit(X_train_res, y_train_res)    #Cst_Bhvr = lr1.fit(X_train_res, y_train_res) declare model name
#Creating Predictions
predictions = lr1.predict(X_test)
  
# print classification report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.53      0.84      0.65       417
           1       0.97      0.86      0.91      2115

    accuracy                           0.85      2532
   macro avg       0.75      0.85      0.78      2532
weighted avg       0.89      0.85      0.87      2532

In [47]:
predictions

array([1, 1, 1, ..., 1, 1, 1])

In [48]:
New = pd.DataFrame(predictions)

In [49]:
New.value_counts()

1    1874
0     658
dtype: int64

In [50]:
y_test.value_counts()

1    2115
0     417
dtype: int64

In [51]:
df.shape

(10127, 21)

In [52]:
y1.shape

(10127, 1)

In [53]:
X_test.head()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,N_B_C_M1,N_B_C_M2
7641,46,0,2,4,1,4,0,41,3,1,...,2552.0,1879,673.0,0.888,4153,79,0.795,0.736,0.000109,0.999890
280,43,1,1,2,2,3,3,37,4,3,...,34516.0,1440,33076.0,1.117,1575,34,2.400,0.042,0.000153,0.999850
9413,29,1,1,5,2,1,0,22,2,3,...,11522.0,1203,10319.0,0.847,13720,119,0.831,0.104,0.000292,0.999710
6777,41,0,5,4,1,4,0,36,5,3,...,1495.0,0,1495.0,0.686,2622,70,0.628,0.000,0.997290,0.002713
2996,38,1,3,0,2,2,0,34,6,3,...,12050.0,1821,10229.0,0.630,2381,40,0.481,0.151,0.998080,0.001916

In [ ]:
# save model to folder and make prediction with given set of values

In [ ]:
# Export to Pycharm and Create New Version of Pycharm App

In [ ]:
#Column Names
Bdata.columns

In [ ]:
#Relevent column Extraction 
#Bdata1 = Bdata.loc[:, ['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender', 'Income_Category', 'Card_Category', 'Credit_Limit', 'Total_Trans_Amt']].copy()

In [ ]:
Bdata.describe()

In [ ]:
#String - Cardinal columns
Bdata1.info()

##Value counts for Cardinal Columns

In [ ]:
Bdata1['Attrition_Flag'].value_counts()

In [ ]:
Bdata1['Gender'].value_counts()

In [ ]:
Bdata1['Income_Category'].value_counts()

In [ ]:
Bdata1['Card_Category'].value_counts()

In [ ]:
Attrition = Bdata1.loc[:, ['Attrition_Flag']]

In [ ]:
#One-hot Encoding - Comverting String/object columns to int 
one_hot = pd.get_dummies(Bdata1[['Gender', 'Income_Category', 'Card_Category',]])

In [ ]:
#Droping string columns
Bdata1 = Bdata1.drop(['CLIENTNUM','Attrition_Flag','Gender', 'Income_Category', 'Card_Category'], axis = 1)

In [ ]:
#adding New columns
Bdata1 = Bdata1.join(one_hot)

In [ ]:
#New dataFrame
Bdata1.head()

#Logistic Regression Model

In [ ]:
#importing library
from sklearn.linear_model import LogisticRegression

In [ ]:
#define model
Reg = LogisticRegression(random_state = 0)

In [ ]:
#Pushing data into Model
Retention  = Reg.fit(Bdata1, Attrition)

In [ ]:
print("Coefficints: \n", Retention.coef_)
print("intercept: \n", Retention.intercept_)

In [ ]:
#library to imort/export model
#import sklearn.external.joblib as extjoblib
import joblib

##Export/dump model

In [ ]:
joblib.dump(Retention, "Model/Retention.pkl")

In [ ]:
Bdata1.columns

In [ ]:
#New Customer Record
New = pd.DataFrame({'Customer_Age':[52], 'Credit_Limit':[6750], 'Total_Trans_Amt':[750], 'Gender_F':[1],
       'Gender_M':[0], 'Income_Category_$120K +':[0], 'Income_Category_$40K - $60K':[0],
       'Income_Category_$60K - $80K':[0], 'Income_Category_$80K - $120K':[0],
       'Income_Category_Less than $40K':[0], 'Income_Category_Unknown':[1],
       'Card_Category_Blue':[0], 'Card_Category_Gold':[0], 'Card_Category_Platinum':[0],
       'Card_Category_Silver':[0] 
        })

In [ ]:
#display New customer Details
New

In [ ]:
Prediction = joblib.load('Model/Retention.pkl')

In [ ]:
#Deploying Model
Prediction = Retention.predict(New)[0]

Prediction

In [ ]:
Prediction